# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual Environment
venv/
env/

# Environment variables
.env

# Django media/static
media/
staticfiles/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest
.pytest_cache/

# Migrations cache
*/__pycache__/